<a href="https://colab.research.google.com/github/priyadharshini13/data_science/blob/master/3_Data_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Training, Validation and Testing split
1. 60/20/20 - RANDOM SPLIT
2. 60/20/20 - SEQUENTIAL SPLIT
3. 80/10/10 - RANDOM SPLIT
4. 80/10/10 - SEQUENTIAL SPLIT

In [2]:
import pandas as pd
import numpy as np

In [4]:
cleanedData = pd.read_parquet('drive/My Drive/fullCleansedDataBeforeSplit.gzip')
cleanedData.info

<bound method DataFrame.info of     UniqueId  ...  Count
0     512489  ...  36739
1     502591  ...  36739
2     542338  ...  36739
3     523956  ...  36739
4     491930  ...  36739
5     545280  ...  36735
6     531629  ...  36738
7     514955  ...  36737
8     520167  ...  36737
9     514641  ...  73476
10    527296  ...  73476
11    538473  ...  73477
12    544451  ...  73477
13    541879  ...  36739
14    495333  ...  36738
15    493659  ...  36738
16    527567  ...  36736
17    493424  ...  73243
18    500449  ...  36739
19    532389  ...  36739
20    513190  ...  36739
21    520018  ...  73478

[22 rows x 4 columns]>

# 1. 60/20/20 - RANDOM SPLIT

In [5]:
training = []
validation = []
testing = []

In [8]:
#Taking random 60% values from each column for training data in random order

for i in range(22): #Rows-
  random60percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.6)): #60%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random60percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to training dataset
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random60percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.6)}
  training.append(row)
trainingData = pd.DataFrame(training, columns = ['UniqueId', 'Values', 'type', 'count'])

In [9]:
trainingData.head()

   UniqueId  ...  count
0    512489  ...  22043
1    502591  ...  22043
2    542338  ...  22043
3    523956  ...  22043
4    491930  ...  22043

[5 rows x 4 columns]

In [10]:
#Taking random 20% values from each column for Validation data 
for i in range(22): #Rows-
  random20percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.2)): #20%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random20percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to validation array
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random20percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.2)}
  validation.append(row)
validationData = pd.DataFrame(validation, columns = ['UniqueId', 'Values', 'type', 'count'])

In [11]:
validationData.head()

   UniqueId  ... count
0    512489  ...  7347
1    502591  ...  7347
2    542338  ...  7347
3    523956  ...  7347
4    491930  ...  7347

[5 rows x 4 columns]

In [12]:

#Taking random 20% values from each column for Test data
for i in range(22): #Rows-
  random20percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.2)): #20%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random20percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to testing array
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random20percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.2)}
  testing.append(row)
testingData = pd.DataFrame(testing, columns = ['UniqueId', 'Values', 'type', 'count'])

In [13]:
testingData.head()

   UniqueId  ... count
0    512489  ...  7347
1    502591  ...  7347
2    542338  ...  7347
3    523956  ...  7347
4    491930  ...  7347

[5 rows x 4 columns]

In [14]:
#SAVING TRAINING, VALIDATION AND TESTING DATA AS PARQUET FILE
trainingData.to_parquet('drive/My Drive/training_raw_random_60.gzip',compression='gzip')
validationData.to_parquet('drive/My Drive/validation_raw_random_20.gzip',compression='gzip')
testingData.to_parquet('drive/My Drive/testing_raw_random_20.gzip',compression='gzip')

# 2. 60/20/20 - SEQUENTIAL SPLIT

In [24]:
#Initialize empty array
training = []
validation = []
testing = []

In [25]:
#Taking first 60% values in each column for training 
for i in range(22):
  start = 0
  end = int(cleanedData['Count'].values[i]*0.6)
  first60percent = cleanedData['Values'].values[i][start:end] #first 60% of values
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': first60percent, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.6)}
  training.append(row)
trainingData = pd.DataFrame(training, columns = ['UniqueId', 'Values', 'type', 'count'])

In [26]:
trainingData.head()

   UniqueId  ...  count
0    512489  ...  22043
1    502591  ...  22043
2    542338  ...  22043
3    523956  ...  22043
4    491930  ...  22043

[5 rows x 4 columns]

In [41]:
validation=[]

In [ ]:
#Taking next 20% values in each column for validation 
for i in range(22):
  start = int(cleanedData['Count'].values[i]*0.6)
  twentypercent = int(cleanedData['Count'].values[i]*0.2)
  end = start + twentypercent
  next20percent = cleanedData['Values'].values[i][start:end] #next 20% of values
  count = end - start
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': next20percent, 'type': cleanedData['type'].values[i], 'count':count}
  validation.append(row)
validationData = pd.DataFrame(validation, columns = ['UniqueId', 'Values', 'type', 'count'])

In [43]:
validationData.head()

   UniqueId  ... count
0    512489  ...  7347
1    502591  ...  7347
2    542338  ...  7347
3    523956  ...  7347
4    491930  ...  7347

[5 rows x 4 columns]

In [44]:
#Taking remaining 20% values in each column for testing 
for i in range(22):
  twentypercent = int(cleanedData['Count'].values[i]*0.2)
  last20percent = cleanedData['Values'].values[i][-twentypercent:] #last 20% of values
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': last20percent, 'type': cleanedData['type'].values[i], 'count':twentypercent}
  testing.append(row)
testingData = pd.DataFrame(testing, columns = ['UniqueId', 'Values', 'type', 'count'])

In [45]:
testingData.head()

   UniqueId  ... count
0    512489  ...  7347
1    502591  ...  7347
2    542338  ...  7347
3    523956  ...  7347
4    491930  ...  7347

[5 rows x 4 columns]

In [53]:
#SAVING TRAINING, VALIDATION AND TESTING DATA AS PARQUET FILE
trainingData.to_parquet('drive/My Drive/training_raw_sequential_60.gzip',compression='gzip')
validationData.to_parquet('drive/My Drive/validation_raw_sequential_20.gzip',compression='gzip')
testingData.to_parquet('drive/My Drive/testing_raw_sequential_20.gzip',compression='gzip')

# 3. 80/10/10  - RANDOM SPLIT

In [54]:
training = []
validation = []
testing = []

In [55]:
#Taking random 80% values from each column for training data in random order

for i in range(22): #Rows-
  random60percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.8)): #80%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random60percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to training dataset
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random60percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.8)}
  training.append(row)
trainingData = pd.DataFrame(training, columns = ['UniqueId', 'Values', 'type', 'count'])

In [56]:
trainingData.head()

   UniqueId  ...  count
0    512489  ...  29391
1    502591  ...  29391
2    542338  ...  29391
3    523956  ...  29391
4    491930  ...  29391

[5 rows x 4 columns]

In [59]:
#Taking random 20% values from each column for Validation data 
for i in range(22): #Rows-
  random10percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.1)): #10%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random10percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to validation array
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random10percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.1)}
  validation.append(row)
validationData = pd.DataFrame(validation, columns = ['UniqueId', 'Values', 'type', 'count'])

In [60]:
validationData.head()

   UniqueId  ... count
0    512489  ...  3673
1    502591  ...  3673
2    542338  ...  3673
3    523956  ...  3673
4    491930  ...  3673

[5 rows x 4 columns]

In [62]:

#Taking random 10% values from each column for Test data
for i in range(22): #Rows-
  random10percentValues = []
  for j in range(int(cleanedData['Count'].values[i]*0.1)): #10%
    index = np.random.randint(0,cleanedData['Count'].values[i]) #Taking random index b/w range(0,count)
    random10percentValues.append(cleanedData['Values'].values[i][index]) #pushing the random value to testing array
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': random10percentValues, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.1)}
  testing.append(row)
testingData = pd.DataFrame(testing, columns = ['UniqueId', 'Values', 'type', 'count'])

In [63]:
testingData.head()

   UniqueId  ... count
0    512489  ...  3673
1    502591  ...  3673
2    542338  ...  3673
3    523956  ...  3673
4    491930  ...  3673

[5 rows x 4 columns]

In [64]:
#SAVING TRAINING, VALIDATION AND TESTING DATA AS PARQUET FILE
trainingData.to_parquet('drive/My Drive/training_raw_random_80.gzip',compression='gzip')
validationData.to_parquet('drive/My Drive/validation_raw_random_10.gzip',compression='gzip')
testingData.to_parquet('drive/My Drive/testing_raw_random_10.gzip',compression='gzip')

# 4. 80/10/10 - SEQUENTIAL SPLIT

In [65]:
#Initialize empty array
training = []
validation = []
testing = []

In [66]:
#Taking first 80% values in each column for training 
for i in range(22):
  start = 0
  end = int(cleanedData['Count'].values[i]*0.8)
  first80percent = cleanedData['Values'].values[i][start:end] #first 80% of values
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': first80percent, 'type':cleanedData['type'].values[i], 'count':int(cleanedData['Count'].values[i]*0.8)}
  training.append(row)
trainingData = pd.DataFrame(training, columns = ['UniqueId', 'Values', 'type', 'count'])

In [67]:
trainingData.head()

   UniqueId  ...  count
0    512489  ...  29391
1    502591  ...  29391
2    542338  ...  29391
3    523956  ...  29391
4    491930  ...  29391

[5 rows x 4 columns]

In [68]:
#Taking next 10% values in each column for validation 
for i in range(22):
  start = int(cleanedData['Count'].values[i]*0.8)
  tenpercent = int(cleanedData['Count'].values[i]*0.1)
  end = start + tenpercent
  next10percent = cleanedData['Values'].values[i][start:end] #next 10% of values
  count = end - start
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': next10percent, 'type': cleanedData['type'].values[i], 'count':count}
  validation.append(row)
validationData = pd.DataFrame(validation, columns = ['UniqueId', 'Values', 'type', 'count'])

In [69]:
validationData.head()

   UniqueId  ... count
0    512489  ...  3673
1    502591  ...  3673
2    542338  ...  3673
3    523956  ...  3673
4    491930  ...  3673

[5 rows x 4 columns]

In [70]:
#Taking remaining 10% values in each column for testing 
for i in range(22):
  tenpercent = int(cleanedData['Count'].values[i]*0.1)
  last10percent = cleanedData['Values'].values[i][-tenpercent:] #last 10% of values
  row = {'UniqueId':cleanedData['UniqueId'].values[i], 'Values': last10percent, 'type': cleanedData['type'].values[i], 'count':tenpercent}
  testing.append(row)
testingData = pd.DataFrame(testing, columns = ['UniqueId', 'Values', 'type', 'count'])

In [71]:
testingData.head()

   UniqueId  ... count
0    512489  ...  3673
1    502591  ...  3673
2    542338  ...  3673
3    523956  ...  3673
4    491930  ...  3673

[5 rows x 4 columns]

In [72]:
#SAVING TRAINING, VALIDATION AND TESTING DATA AS PARQUET FILE
trainingData.to_parquet('drive/My Drive/training_raw_sequential_80.gzip',compression='gzip')
validationData.to_parquet('drive/My Drive/validation_raw_sequential_10.gzip',compression='gzip')
testingData.to_parquet('drive/My Drive/testing_raw_sequential_10.gzip',compression='gzip')

In [74]:
arr = [0,3,3,4,5,2,6,7,8]
arr[5:3]

[]

# TRAINING DATA
Creating multiple datapoints by splitting the total values of each column into many rows
1. 500 values per row - values selected in random order
2. 500 values per row - selected sequentially
3. values selected randomly between the range 0 to 500 per row 
start index = [random(0,500)
end index = [random(0,500)


---

1. Creating 500 values per row - values selected in random order

In [3]:
trainingRawData = pd.read_parquet('drive/My Drive/training_raw_random_60.gzip')
trainingRawData.head()

   UniqueId  ...  count
0    512489  ...  22043
1    502591  ...  22043
2    542338  ...  22043
3    523956  ...  22043
4    491930  ...  22043

[5 rows x 4 columns]

In [82]:
# da = []
# da.append(trainingRawData['Values'][0][0:2])
# da.append(trainingRawData['Values'][0][2:4])
# print(da)
row = {'Unique':123,'value':trainingRawData['Values'][0][0:2]}
row2 = {'Unique':123,'value':trainingRawData['Values'][0][4:6]}
da.append(row)
da.append(row2)
df = pd.DataFrame(da, columns=['Unique', 'value'])
df

          Unique          value
0  ORG-100003597  ORG-100014859
1  ORG-100023031  ORG-100016305
2         Unique          value
3         Unique          value

In [77]:
rows = int(trainingRawData['count'][0] / 500)
values = []
start = 0
end = 500
for i in range(rows):
  values.append(trainingRawData['Values'][0][start:end])
  start = end
  end = end + 500
trainingDataset = pd.DataFrame(data, columns=['UniqueId', 'Values', 'type'])
trainingDataset.head()

44

In [ ]:
#SAVING TRAINING, VALIDATION AND TESTING DATA AS PARQUET FILE
trainingData.to_parquet('drive/My Drive/training_raw_random_60.gzip',compression='gzip')
validationData.to_parquet('drive/My Drive/validation_raw_random_20.gzip',compression='gzip')
testingData.to_parquet('drive/My Drive/testing_raw_random_20.gzip',compression='gzip')