<a href="https://colab.research.google.com/github/priyadharshini13/data_science/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Importing location dataset
import pandas as pd
df = pd.read_csv('locations_1.csv',low_memory=False)
df.head()

  Organisation ID              Identifier Code  ... Unnamed: 56 Unnamed: 57
0   ORG-100003912  ORG-100012803¦ORG-100003912  ...         NaN         NaN
1   ORG-100003912  ORG-100012803¦ORG-100003912  ...         NaN         NaN
2   ORG-100003912  ORG-100012803¦ORG-100003912  ...         NaN         NaN
3   ORG-100003912  ORG-100012803¦ORG-100003912  ...         NaN         NaN
4   ORG-100003912  ORG-100012803¦ORG-100003912  ...         NaN         NaN

[5 rows x 58 columns]

In [9]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36739 entries, 0 to 36738
Data columns (total 58 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Organisation ID                                     36739 non-null  object
 1   Identifier Code                                     36739 non-null  object
 2   Mapping Code System                                 2419 non-null   object
 3   Mapping Code System Name                            2419 non-null   object
 4   Mapping Code                                        2339 non-null   object
 5   Mapping Valid From                                  1940 non-null   object
 6   Mapping Valid To                                    89 non-null     object
 7   Category Classification Category Code System Name   36739 non-null  object
 8   Category Classification Category  Code              36739 non-null  object
 9   Category Classification Category  Display Name      36739 non-null  object
 10  Status                                              36739 non-null  object
 11  Name                                                36739 non-null  object
 12  Acronym                                             1123 non-null   object
 13  Alternative Name                                    3260 non-null   object
 14  Alternative Name Language                           3076 non-null   object
 15  Version Timestamp                                   36738 non-null  object
 16  Location ID                                         36738 non-null  object
 17  Location Link Href                                  36739 non-null  object
 18  Current Version                                     36739 non-null  object
 19  Mapping Code System.1                               27847 non-null  object
 20  Mapping Code System Name.1                          27847 non-null  object
 21  Mapping Code.1                                      27846 non-null  object
 22  Status.1                                            36739 non-null  object
 23  Address PO Box                                      264 non-null    object
 24  Address Postal Code                                 35953 non-null  object
 25  Address Country Code                                36738 non-null  object
 26  Address Country Display Name                        36739 non-null  object
 27  Address GPS Location                                27625 non-null  object
 28  Address Language                                    36739 non-null  object
 29  Address Line 1                                      36738 non-null  object
 30  Address Line 2                                      28485 non-null  object
 31  Address Line 3                                      23557 non-null  object
 32  Address Line 4                                      21413 non-null  object
 33  Address City                                        36565 non-null  object
 34  Address State                                       22962 non-null  object
 35  Address Region                                      20778 non-null  object
 36  Address County                                      27196 non-null  object
 37  Communication Details Email Address                 625 non-null    object
 38  Communication Details Phone Number Country Prefix   543 non-null    object
 39  Communication Details Phone Number                  543 non-null    object
 40  Communication Details Phone Number Extension        116 non-null    object
 41  Communication Details Address PO Box                0 non-null      float64
 42  Communication Details Address Postal Code           0 non-null      float64
 43  Communication Details Address Country Code          0 non-null      float64
 44  Communication Details Address Country Display Name  1 non-null      object
 45  Communication Details Address GPS Location          0 non-null      float64
 46  Communication Details Address Language              0 non-null      float64
 47  Communication Details Address Line 1                0 non-null      float64
 48  Communication Details Address Line 2                0 non-null      float64
 49  Communication Details Address Line 3                0 non-null      float64
 50  Communication Details Address Line 4                0 non-null      float64
 51  Communication Details Address City                  0 non-null      float64
 52  Communication Details Address State                 0 non-null      float64
 53  Communication Details Address Region                0 non-null      float64
 54  Communication Details Address County                0 non-null      float64
 55  Version Timestamp.1                                 36737 non-null  object
 56  Unnamed: 56                                         1 non-null      object
 57  Unnamed: 57                                         1 non-null      object
dtypes: float64(13), object(45)
memory usage: 16.3+ MB

None

In [10]:
#List of empty columns to be dropped

dropColumnsList = df.columns[41:55].tolist()

dff = df.drop(dropColumnsList,axis=1)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36739 entries, 0 to 36738
Data columns (total 44 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Organisation ID                                    36739 non-null  object
 1   Identifier Code                                    36739 non-null  object
 2   Mapping Code System                                2419 non-null   object
 3   Mapping Code System Name                           2419 non-null   object
 4   Mapping Code                                       2339 non-null   object
 5   Mapping Valid From                                 1940 non-null   object
 6   Mapping Valid To                                   89 non-null     object
 7   Category Classification Category Code System Name  36739 non-null  object
 8   Category Classification Category  Code             36739 non-null  object
 9   Category Classification Category  Display Name     36739 non-null  object
 10  Status                                             36739 non-null  object
 11  Name                                               36739 non-null  object
 12  Acronym                                            1123 non-null   object
 13  Alternative Name                                   3260 non-null   object
 14  Alternative Name Language                          3076 non-null   object
 15  Version Timestamp                                  36738 non-null  object
 16  Location ID                                        36738 non-null  object
 17  Location Link Href                                 36739 non-null  object
 18  Current Version                                    36739 non-null  object
 19  Mapping Code System.1                              27847 non-null  object
 20  Mapping Code System Name.1                         27847 non-null  object
 21  Mapping Code.1                                     27846 non-null  object
 22  Status.1                                           36739 non-null  object
 23  Address PO Box                                     264 non-null    object
 24  Address Postal Code                                35953 non-null  object
 25  Address Country Code                               36738 non-null  object
 26  Address Country Display Name                       36739 non-null  object
 27  Address GPS Location                               27625 non-null  object
 28  Address Language                                   36739 non-null  object
 29  Address Line 1                                     36738 non-null  object
 30  Address Line 2                                     28485 non-null  object
 31  Address Line 3                                     23557 non-null  object
 32  Address Line 4                                     21413 non-null  object
 33  Address City                                       36565 non-null  object
 34  Address State                                      22962 non-null  object
 35  Address Region                                     20778 non-null  object
 36  Address County                                     27196 non-null  object
 37  Communication Details Email Address                625 non-null    object
 38  Communication Details Phone Number Country Prefix  543 non-null    object
 39  Communication Details Phone Number                 543 non-null    object
 40  Communication Details Phone Number Extension       116 non-null    object
 41  Version Timestamp.1                                36737 non-null  object
 42  Unnamed: 56                                        1 non-null      object
 43  Unnamed: 57                                        1 non-null      object
dtypes: object(44)
memory usage: 12.3+ MB

In [11]:
#Dropping Unnamed column
dff = dff.drop([dff.columns[42],dff.columns[43]],axis=1)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36739 entries, 0 to 36738
Data columns (total 42 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Organisation ID                                    36739 non-null  object
 1   Identifier Code                                    36739 non-null  object
 2   Mapping Code System                                2419 non-null   object
 3   Mapping Code System Name                           2419 non-null   object
 4   Mapping Code                                       2339 non-null   object
 5   Mapping Valid From                                 1940 non-null   object
 6   Mapping Valid To                                   89 non-null     object
 7   Category Classification Category Code System Name  36739 non-null  object
 8   Category Classification Category  Code             36739 non-null  object
 9   Category Classification Category  Display Name     36739 non-null  object
 10  Status                                             36739 non-null  object
 11  Name                                               36739 non-null  object
 12  Acronym                                            1123 non-null   object
 13  Alternative Name                                   3260 non-null   object
 14  Alternative Name Language                          3076 non-null   object
 15  Version Timestamp                                  36738 non-null  object
 16  Location ID                                        36738 non-null  object
 17  Location Link Href                                 36739 non-null  object
 18  Current Version                                    36739 non-null  object
 19  Mapping Code System.1                              27847 non-null  object
 20  Mapping Code System Name.1                         27847 non-null  object
 21  Mapping Code.1                                     27846 non-null  object
 22  Status.1                                           36739 non-null  object
 23  Address PO Box                                     264 non-null    object
 24  Address Postal Code                                35953 non-null  object
 25  Address Country Code                               36738 non-null  object
 26  Address Country Display Name                       36739 non-null  object
 27  Address GPS Location                               27625 non-null  object
 28  Address Language                                   36739 non-null  object
 29  Address Line 1                                     36738 non-null  object
 30  Address Line 2                                     28485 non-null  object
 31  Address Line 3                                     23557 non-null  object
 32  Address Line 4                                     21413 non-null  object
 33  Address City                                       36565 non-null  object
 34  Address State                                      22962 non-null  object
 35  Address Region                                     20778 non-null  object
 36  Address County                                     27196 non-null  object
 37  Communication Details Email Address                625 non-null    object
 38  Communication Details Phone Number Country Prefix  543 non-null    object
 39  Communication Details Phone Number                 543 non-null    object
 40  Communication Details Phone Number Extension       116 non-null    object
 41  Version Timestamp.1                                36737 non-null  object
dtypes: object(42)
memory usage: 11.8+ MB

# Creating training, validation and testing Dataset

Data cleaning and preparation:
  1. Every column values count, non-null values value count is taken.

For every semantics we are going to split the data into 3 parts
1. Training - 60% of column values.
2. Validation - 20% of column values. 
3. Testing - 20% of column values.

In [12]:
import numpy as np

In [14]:
#1.Organisation ID

#Counting non-empty values
onlyValues = len(dff['Organisation ID'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Organisation ID'].replace(np.nan, '', regex=True) 

row0 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[0], 'type':'organisationID', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues}
row0

{'ColumnName': 'Organisation ID',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 512489,
 'Values': array(['ORG-100003912', 'ORG-100003912', 'ORG-100003912', ...,
        'ORG-100016863', 'ORG-100018303', 'ORG-100023603'], dtype=object),
 'type': 'organisationID'}

In [15]:
#2. Identifier code

#Counting non-empty values
onlyValues = len(dff['Identifier Code'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Identifier Code'].replace(np.nan, '', regex=True) 

row1 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[1], 'type':'identifierCode', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues}
row1

{'ColumnName': 'Identifier Code',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 502591,
 'Values': array(['ORG-100012803¦ORG-100003912', 'ORG-100012803¦ORG-100003912',
        'ORG-100012803¦ORG-100003912', ..., 'ORG-100016863',
        'ORG-100018303', 'ORG-100023603'], dtype=object),
 'type': 'identifierCode'}

In [17]:
#3.Mapping Code System

#Counting non-empty values
onlyValues = len(dff['Mapping Code System'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Code System'].replace(np.nan, '', regex=True) 

row2 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[2], 'type':'mappingCodeSystem', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row2

{'ColumnName': 'Mapping Code System',
 'Count': 36739,
 'NonEmptyValuesCount': 2419,
 'UniqueId': 544461,
 'Values': array(['200000005700', '200000005700', '200000005700', ..., '', '', ''],
       dtype=object),
 'type': 'mappingCodeSystem'}

In [18]:
#4.Mapping Code System Name

#Counting non-empty values
onlyValues = len(dff['Mapping Code System Name'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Code System Name'].replace(np.nan, '', regex=True) 

row3 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[3], 'type':'mappingCodeSystemName', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row3

{'ColumnName': 'Mapping Code System Name',
 'Count': 36739,
 'NonEmptyValuesCount': 2419,
 'UniqueId': 524068,
 'Values': array(['EudraVigilance Veterinary Dynamics',
        'EudraVigilance Veterinary Dynamics',
        'EudraVigilance Veterinary Dynamics', ..., '', '', ''],
       dtype=object),
 'type': 'mappingCodeSystemName'}

In [19]:
#5.Mapping Code 

#Counting non-empty values
onlyValues = len(dff['Mapping Code'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Code'].replace(np.nan, '', regex=True) 

row4 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[4], 'type':'mappingCode', 'Count':len(dff1.values), 'Values':dff1.values,  'NonEmptyValuesCount':onlyValues }
row4

{'ColumnName': 'Mapping Code',
 'Count': 36739,
 'NonEmptyValuesCount': 2339,
 'UniqueId': 512820,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'mappingCode'}

In [20]:
#6.Mapping Valid From

#Counting non-empty values
onlyValues = len(dff['Mapping Valid From'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Valid From'].replace(np.nan, '', regex=True) 

row5 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[5], 'type':'mappingValidFrom', 'Count':len(dff1.values), 'Values':dff1.values,  'NonEmptyValuesCount':onlyValues }
row5

{'ColumnName': 'Mapping Valid From',
 'Count': 36739,
 'NonEmptyValuesCount': 1940,
 'UniqueId': 514643,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'mappingValidFrom'}

In [21]:
# #7.Mapping Valid To  - Contains only 89 values- so omitted

# #Dropna
dff4 = dff['Mapping Valid To'].dropna()

validTo = {'Count':len(dff4.values), 'Values':dff4.values, 'type':'MappingValidTo'}
validTo

{'Count': 89,
 'Values': array(['¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦',
        '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦', '¦'],
       dtype=object),
 'type': 'MappingValidTo'}

In [22]:
#7. Category Classification Category Code System Name

#Counting non-empty values
onlyValues = len(dff['Category Classification Category Code System Name'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Category Classification Category Code System Name'].replace(np.nan, '', regex=True) 

row6 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[7], 'type':'categoryClassificationCodeSystemName', 'Count':len(dff1.values), 'Values':dff1.values,'NonEmptyValuesCount':onlyValues }
row6

{'ColumnName': 'Category Classification Category Code System Name',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 542338,
 'Values': array(['Type¦Type', 'Type¦Type', 'Type¦Type', ..., 'Type¦Type',
        'Type¦Type', 'Type¦Type'], dtype=object),
 'type': 'categoryClassificationCodeSystemName'}

In [23]:
#8. Category Classification Category Code System Name

#Counting non-empty values
onlyValues = len(dff['Category Classification Category  Code'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Category Classification Category  Code'].replace(np.nan, '', regex=True) 

# row7 = {'Count':len(dff6.values), 'Values':dff6.values, 'type':'CategoryClassificationCode'}
row7 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[8], 'type':'categoryClassificationCode', 'Count':len(dff1.values), 'Values':dff1.values ,'NonEmptyValuesCount':onlyValues }
row7

{'ColumnName': 'Category Classification Category  Code',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 523956,
 'Values': array(['200000000088¦200000000084', '200000000088¦200000000084',
        '200000000088¦200000000084', ..., '200000000080¦200000000081',
        '200000000080¦200000000081', '200000000080¦200000000081'],
       dtype=object),
 'type': 'categoryClassificationCode'}

In [24]:
#9. Category Classification Category  Display Name
dff1 = dff['Category Classification Category  Display Name'].values

#Counting non-empty values
onlyValues = len(dff['Category Classification Category  Display Name'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Category Classification Category  Display Name'].replace(np.nan, '', regex=True) 

row8 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[9], 'type':'categoryClassificationName', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row8

{'ColumnName': 'Category Classification Category  Display Name',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 491930,
 'Values': array(['EEA National Competent authority¦Regulatory Authority',
        'EEA National Competent authority¦Regulatory Authority',
        'EEA National Competent authority¦Regulatory Authority', ...,
        'Industry¦Pharmaceutical company',
        'Industry¦Pharmaceutical company',
        'Industry¦Pharmaceutical company'], dtype=object),
 'type': 'categoryClassificationName'}

In [25]:
# 11  Status 36739 non-null  object

#Counting non-empty values
onlyValues = len(dff['Status'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Status'].replace(np.nan, '', regex=True) 

row9 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[10], 'type':'status', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row9

{'ColumnName': 'Status',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 528801,
 'Values': array(['ACTIVE', 'ACTIVE', 'ACTIVE', ..., 'ACTIVE', 'ACTIVE', 'ACTIVE'],
       dtype=object),
 'type': 'status'}

In [26]:
# 12 Name
dff1 = dff['Name'].values
dff1 = dff['Name'].replace(np.nan, '', regex=True) # All data frame

#Counting non-empty values
onlyValues = len(dff['Name'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Name'].replace(np.nan, '', regex=True) 

row10 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[11], 'type':'organisation', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row10

{'ColumnName': 'Name',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 545280,
 'Values': array(['Austrian Agency for Health and Food Safety Limited',
        'Austrian Agency for Health and Food Safety Limited',
        'Austrian Agency for Health and Food Safety Limited', ...,
        'Emmet Feerick Pharmacy Limited', 'Grieshaber Logistics Group AG',
        'Philipps University Marburg'], dtype=object),
 'type': 'organisation'}

In [27]:
#  13  Acronym 1123 non-null   object

#Counting non-empty values
onlyValues = len(dff['Acronym'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Acronym'].replace(np.nan, '', regex=True) 

row11 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[12], 'type':'acronym', 'Count':len(dff1.values), 'Values':dff1.values,  'NonEmptyValuesCount':onlyValues }
row11

{'ColumnName': 'Acronym',
 'Count': 36739,
 'NonEmptyValuesCount': 1123,
 'UniqueId': 537608,
 'Values': array(['AGES', 'AGES', 'AGES', ..., '', '', ''], dtype=object),
 'type': 'acronym'}

In [28]:
#13  Alternative Name  3260 non-null   object
#AlternativeName - Not included 

#Counting non-empty values
onlyValues = len(dff['Alternative Name '].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Alternative Name '].replace(np.nan, '', regex=True) 

row12 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[13], 'type':'alternativeName', 'Count':len(dff1.values), 'Values':dff1.values,  'NonEmptyValuesCount':onlyValues  }
row12

{'ColumnName': 'Alternative Name ',
 'Count': 36739,
 'NonEmptyValuesCount': 3260,
 'UniqueId': 496305,
 'Values': array(['AGES - Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH¦Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH',
        'AGES - Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH¦Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH',
        'AGES - Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH¦Österreichische Agentur für Gesundheit und Ernährungssicherheit GmbH',
        ..., '', '', ''], dtype=object),
 'type': 'alternativeName'}

In [29]:
#  14  Alternative Name Language 3076 non-null   object

#Counting non-empty values
onlyValues = len(dff['Alternative Name Language'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Alternative Name Language'].replace(np.nan, '', regex=True) 

row13 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[14], 'type':'languageCode', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row13

{'ColumnName': 'Alternative Name Language',
 'Count': 36739,
 'NonEmptyValuesCount': 3076,
 'UniqueId': 534815,
 'Values': array(['DE¦DE', 'DE¦DE', 'DE¦DE', ..., '', '', ''], dtype=object),
 'type': 'languageCode'}

In [30]:
#  15  Version Timestamp 36738 non-null  object
#Counting non-empty values
onlyValues = len(dff['Version Timestamp'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Version Timestamp'].replace(np.nan, '', regex=True) 

row14 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[15], 'type':'versionTimestamp', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row14

{'ColumnName': 'Version Timestamp',
 'Count': 36739,
 'NonEmptyValuesCount': 36738,
 'UniqueId': 531444,
 'Values': array(['2020-01-15T11:19:10.195+01:00', '2020-01-15T11:19:10.195+01:00',
        '2020-01-15T11:19:10.195+01:00', ...,
        '2020-07-15T16:52:08.548+02:00', '2020-07-15T16:56:12.37+02:00',
        '2020-07-15T16:58:47.875+02:00'], dtype=object),
 'type': 'versionTimestamp'}

In [31]:
#  16  Location ID 36738 non-null  object
dff1 = dff['Location ID'].values
dff1 = dff['Location ID'].replace(np.nan, '', regex=True) # All data frame

#Counting non-empty values
onlyValues = len(dff['Location ID'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Location ID'].replace(np.nan, '', regex=True) 

row15 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[16], 'type':'locationID', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row15

{'ColumnName': 'Location ID',
 'Count': 36739,
 'NonEmptyValuesCount': 36738,
 'UniqueId': 531629,
 'Values': array(['LOC-100000000', 'LOC-100000001', 'LOC-100000002', ...,
        'LOC-100039799', 'LOC-100039800', 'LOC-100039801'], dtype=object),
 'type': 'locationID'}

In [32]:
#  17  Location Link Href  non-null  object

#Counting non-empty values
onlyValues = len(dff['Location Link Href'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Location Link Href'].replace(np.nan, '', regex=True) 

row16 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[17], 'type':'locationHrefLink', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row16

{'ColumnName': 'Location Link Href',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 514955,
 'Values': array(['https://spor.ema.europa.eu/v1/locations/LOC-100000000',
        'https://spor.ema.europa.eu/v1/locations/LOC-100000001',
        'https://spor.ema.europa.eu/v1/locations/LOC-100000002', ...,
        'https://spor.ema.europa.eu/v1/locations/LOC-100039799',
        'https://spor.ema.europa.eu/v1/locations/LOC-100039800',
        'https://spor.ema.europa.eu/v1/locations/LOC-100039801'],
       dtype=object),
 'type': 'locationHrefLink'}

In [33]:
#18 Current Version
#Counting non-empty values
onlyValues = len(dff['Current Version'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Current Version'].replace(np.nan, '', regex=True) 

row17 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[18], 'type':'currentVersion', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row17

{'ColumnName': 'Current Version',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 520167,
 'Values': array(['Y', 'Y', 'Y', ..., 'Y', 'Y', 'Y'], dtype=object),
 'type': 'currentVersion'}

In [34]:
#  19  Mapping Code System.1 27847 non-null  object

#Counting non-empty values
onlyValues = len(dff['Mapping Code System.1'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Code System.1'].replace(np.nan, '', regex=True) 

row18 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[19], 'type':'mappingCodeSystem', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row18

{'ColumnName': 'Mapping Code System.1',
 'Count': 36739,
 'NonEmptyValuesCount': 27847,
 'UniqueId': 514641,
 'Values': array(['100000000000', '100000167429¦100000167429', '100000000000', ...,
        '100000000000', '', ''], dtype=object),
 'type': 'mappingCodeSystem'}

In [35]:
#  20  Mapping Code System Name.1   27847 non-null  object

#Counting non-empty values
onlyValues = len(dff['Mapping Code System Name.1'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Mapping Code System Name.1'].replace(np.nan, '', regex=True) 

row19 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[20], 'type':'mappingCodeSystemName', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues  }
row19

{'ColumnName': 'Mapping Code System Name.1',
 'Count': 36739,
 'NonEmptyValuesCount': 27847,
 'UniqueId': 527296,
 'Values': array(['European Inspections Database',
        'European Inspections Database¦European Inspections Database',
        'European Inspections Database', ...,
        'European Inspections Database', '', ''], dtype=object),
 'type': 'mappingCodeSystemName'}

In [36]:
#  21  Mapping Code.1 27846 non-null  object

#Counting non-empty values
onlyValues = len(dff['Mapping Code.1'].dropna())


#Replacing nan values with empty string ''
dff1 = dff['Mapping Code.1'].replace(np.nan, '', regex=True) 

row20 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[21], 'type':'mappingCode', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row20

{'ColumnName': 'Mapping Code.1',
 'Count': 36739,
 'NonEmptyValuesCount': 27846,
 'UniqueId': 538473,
 'Values': array(['22802', '11773¦19301', '22249', ..., '14287', '', ''],
       dtype=object),
 'type': 'mappingCode'}

In [38]:
#  22  Status.1 36739 non-null  object
#Counting non-empty values
onlyValues = len(dff['Status.1'].dropna())

#Replacing nan values with empty string ''
dff1 = dff['Status.1'].replace(np.nan, '', regex=True) 
row21 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[22], 'type':'status', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row21

{'ColumnName': 'Status.1',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 544451,
 'Values': array(['ACTIVE', 'ACTIVE', 'ACTIVE', ..., 'ACTIVE', 'ACTIVE', 'ACTIVE'],
       dtype=object),
 'type': 'status'}

In [39]:
#  23  Address PO Box 264 non-null    object
dff16 = dff['Address PO Box'].values
onlyValues = len(dff['Address PO Box'].dropna())

dff1 = dff['Address PO Box'].replace(np.nan, '', regex=True) 
row22 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[23], 'type':'PostBox', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row22

{'ColumnName': 'Address PO Box',
 'Count': 36739,
 'NonEmptyValuesCount': 264,
 'UniqueId': 503546,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'PostBox'}

In [40]:
#  24  Address Postal Code 35953 non-null  object
dff1 = dff['Address Postal Code'].values
onlyValues = len(dff['Address Postal Code'].dropna())

dff1 = dff['Address Postal Code'].replace(np.nan, '', regex=True) 
row23 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[24], 'type':'PostCode', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row23

{'ColumnName': 'Address Postal Code',
 'Count': 36739,
 'NonEmptyValuesCount': 35953,
 'UniqueId': 541879,
 'Values': array(['1220', '8010', '2340', ..., '', '79618', '35037'], dtype=object),
 'type': 'PostCode'}

In [41]:
#  25  Address Country Code 36738 non-null  object
dff1 = dff['Address Country Code'].values

onlyValues = len(dff['Address Country Code'].dropna())

dff1 = dff['Address Country Code'].replace(np.nan, '', regex=True) 
row24 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[25], 'type':'CountryCode', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row24

{'ColumnName': 'Address Country Code',
 'Count': 36739,
 'NonEmptyValuesCount': 36738,
 'UniqueId': 495333,
 'Values': array(['AT', 'AT', 'AT', ..., 'IE', 'DE', 'DE'], dtype=object),
 'type': 'CountryCode'}

In [43]:
#  26  Address Country Display Name 36739 non-null  object
dff1 = dff['Address Country Display Name'].values

onlyValues = len(dff['Address Country Display Name'].dropna())

dff1 = dff['Address Country Display Name'].replace(np.nan, '', regex=True) 
row25 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[26], 'type':'country', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row25

{'ColumnName': 'Address Country Display Name',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 493659,
 'Values': array(['Austria', 'Austria', 'Austria', ..., 'Ireland', 'Germany',
        'Germany'], dtype=object),
 'type': 'country'}

In [44]:
#  27  Address GPS Location 27625 non-null  object
dff1 = dff['Address GPS Location'].values
onlyValues = len(dff['Address GPS Location'].dropna())

dff1 = dff['Address GPS Location'].replace(np.nan, '', regex=True) 
row26 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[27], 'type':'GPSLocation', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row26

{'ColumnName': 'Address GPS Location',
 'Count': 36739,
 'NonEmptyValuesCount': 27625,
 'UniqueId': 527567,
 'Values': array(['48.25147, 16.48305', '47.075744, 15.450655',
        '48.076881, 16.303955', ..., '', '47.554257, 7.777767',
        '50.814537, 8.771080'], dtype=object),
 'type': 'GPSLocation'}

In [45]:
#  28  Address Language

# dff1 = dff['Address Language'].values
onlyValues = len(dff['Address Language'].dropna())

dff1 = dff['Address Language'].replace(np.nan, '', regex=True) 
row27 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[28], 'type':'languageCode', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row27

{'ColumnName': 'Address Language',
 'Count': 36739,
 'NonEmptyValuesCount': 36739,
 'UniqueId': 493424,
 'Values': array(['EN¦DE', 'EN¦DE', 'EN¦DE', ..., 'EN', 'EN¦DE', 'EN¦DE'],
       dtype=object),
 'type': 'languageCode'}

In [46]:
# 29  Address Line 1 36738 non-null  object

onlyValues = len(dff['Address Line 1'].dropna())

dff1 = dff['Address Line 1'].replace(np.nan, '', regex=True) 
row28 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[29], 'type':'AddressLine1', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row28

{'ColumnName': 'Address Line 1',
 'Count': 36739,
 'NonEmptyValuesCount': 36738,
 'UniqueId': 529738,
 'Values': array(['Spargelfeldstrase 191¦Spargelfeldstraße 191',
        'Beethovenstrasse 6-8¦Beethovenstraße 6-8',
        'Robert Koch-Gasse 17¦Robert Koch-Gasse 17', ..., 'Leixlip Centre',
        'Warmbacher Strasse 80¦Warmbacher Straße 80',
        'Deutschhausstrasse 12¦Deutschhausstraße 12'], dtype=object),
 'type': 'AddressLine1'}

In [47]:
#  30  Address Line 2 28485 non-null  object
onlyValues = len(dff['Address Line 2'].dropna())

dff1 = dff['Address Line 2'].replace(np.nan, '', regex=True) 
row29 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[30], 'type':'AddressLine2', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row29

{'ColumnName': 'Address Line 2',
 'Count': 36739,
 'NonEmptyValuesCount': 28485,
 'UniqueId': 527954,
 'Values': array(['donaustadt¦Donaustadt', '¦', '¦', ..., 'Leixlip',
        'Warmbach¦Warmbach', '¦'], dtype=object),
 'type': 'AddressLine2'}

In [48]:
#  31  Address Line 3 23557 non-null  object
print(len(dff['Address Line 3'].values))
dff1 = dff['Address Line 3'].replace('¦', np.nan)
dff1 = dff1.replace('¦¦', np.nan)
dff1 = dff1.replace('¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦¦¦¦', np.nan)
print(len(dff1))
onlyValues = len(dff1.dropna())
dff16  = [i for i in dff1.dropna() if i] 
print(onlyValues)
print('dff16',dff16)
dff1 = dff1.replace(np.nan, '', regex=True) 
print(len(dff1))

row30 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[31], 'type':'AddressLine3', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row30

36739
36739
3537

{'ColumnName': 'Address Line 3',
 'Count': 36739,
 'NonEmptyValuesCount': 3537,
 'UniqueId': 511780,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'AddressLine3'}

In [50]:
#  32  Address Line 4 
print(len(dff['Address Line 4'].values))
dff1 = dff['Address Line 4'].replace('¦', np.nan)
dff1 = dff1.replace('¦¦', np.nan)
dff1 = dff1.replace('¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦¦', np.nan)
dff1 = dff1.replace('¦¦¦¦¦¦¦¦¦¦¦', np.nan)

print(len(dff1))
onlyValues = len(dff1.dropna())
dff16  = [i for i in dff1.dropna() if i] 
print(onlyValues)
print('dff16',dff16)

dff1 = dff1.replace(np.nan, '', regex=True) 
row31 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[32], 'type':'AddressLine4', 'Count':len(dff1), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row31

36739
36739
721
dff16 ['1er etage', 'I,E&S/Library', 'Laboratory', 'Sector 2', 'Linthwaite', 'Tower Hamlets', 'Metheringham', 'Business Park', 'Jeedimetla¦', '¦¦¦¦Jogeshwari West¦¦Jogeshwari West', 'Medak District', 'Sector 1', 'East Wing¦', 'Melmerby', 'Sector 1', 'Bang Phli', 'Chalfont St. Peter', 'Wooburn Green', 'Stotfold', '¦Cs 50052', 'Wexham', 'Phraeksa¦', 'Dodworth', '¦Montrichard', 'Whiteley', 'Northwood', 'Fukusakicho', 'Salcette¦', '¦¦St Ouen L Aumone', 'BP 47¦Le Broc', 'Wick', 'Taplow', 'Cressex Business Park', 'Whistleberry Industrial Park', 'Manchester Airport', 'Whiteley', 'Bridge Road', 'Deeside Industrial Park', 'Titchfield', 'District Pune¦', 'Sector 5', 'Puteaux¦', '¦Puteaux', 'Terminus Road', 'Stotfold', 'Long Hanborough', 'Courbevoie¦', 'Wexham', 'Volt Avenue', 'Bridge Road', 'Apartment 70', 'Floor 12¦Eтаж 12', 'Courbevoie¦Courbevoie', 'Hopkinson Way', 'Chalgrove', 'Riverside Way', 'Measham', 'Daresbury', 'Swansea Enterprise Park', 'Old Dalby', 'Histon', 'Histon', 'Milton Road', 'Willingham', 'Melbourn', 'Hagonoy', 'Vanwall Road', 'Caddsdown Industrial Park', 'Riverside Way', 'Old Dalby', 'Shortwood Business Park', 'Lowfield Heath', 'Talgarth', 'Measham', 'Sand Hutton', 'North Wall', 'Medway City Estate', 'Northwood Avenue', 'Morley', 'Salwayash', 'St. Philips', 'Histon', 'Courbevoie¦', 'Roundswell Business Park', 'Elstree', '¦大阪市', 'Horspath Industrial Estate', 'Du Cane Road', 'Whiteley', 'Innovation Close', 'Laporte Way', 'Choke Lane', 'Melmerby Green Road', 'Peasmarsh', 'Peasmarsh', 'Brecon Road', 'Bruntcliffe Avenue', 'Botley', 'Wilnecote', 'Ranga Reddy District¦', 'Gawcott', 'Citywest Business Campus', 'Science Park', 'St. Barnabas Close', 'Salwayash', 'West End', 'Totton', 'Praksa¦', 'Trolliloes', 'Heaton Chapel', 'Floor 4', 'Nether Poppleton', 'Ballsbridge', 'Histon', '¦Illkirch Graffenstaden', 'Brooklands Business Park', 'Park Farm Industrial Estate', 'Headington', 'Bumpers Farm', 'Bandra East¦', 'Bellaterra', 'Ballsbridge', '¦Theale', 'Whitestake', 'Upper Heyford', 'Kensington', 'Belvue Road', 'White Waltham', 'Yarnton', 'Ramsgate Road', '149 Tottenham Court Road', 'Histon', 'Occam Road', 'Salfords', 'Park Lane', 'Dwight Road', 'Colney', 'Southern Road', 'South Mimms', 'Histon', 'Medway City Estate', 'Imperial Way', 'Leavesden', 'Quarry Road', '25 Old Broad Street', 'Farmoor', 'Singleton Park', 'London Road', 'Yarnton', 'No. 80 Linsen N. Rd.¦', 'Hartley Wintney', 'Paddington', 'Lapczyca', 'Shoe Lane', 'Medak District', 'Andheri East', 'Caversfield', 'Citywest Business Campus', 'Northwood', 'Bell Entrance', 'J P Nagar¦J P Nagar', 'Pampisford', '280 Bath Road¦¦', 'Bumpers Farm', 'Isolo', 'Walker Road', 'Overton', 'Brooklands Business Park', 'Minerva Business Park', 'Medway City Estate', 'Medway City Estate', 'Northbridge Road', 'Chadderton', 'Martinsried¦Martinsried', 'Buch¦Buch', 'Knowsley Industrial Park', 'Sawston', 'Irlam', 'Stoke Poges', 'West Derby', 'Cranes Farm Road', 'Histon', 'Shafton', 'Tockwith', 'Paycocke Road', 'Cressex Business Park', 'Fenstanton', 'Bentley Road South', 'Bardon Hill', 'Euroway Industrial Estate', 'Appley Bridge', 'South Normanton', '17 High Street', 'Erdington', 'Lon-Y-Llyn', 'Milton Common', 'Humberston', 'Medak District', 'Mulhuddart', 'Lower Parel¦Lower Parel', 'Visakhapatnam District', 'Carrowgobbadagh', 'Lower Parel', 'Goregaon East¦Goregaon East', 'Ajit Singh Nagar', 'Stenson Road', 'Sandyford', '23850¦', 'Bonthapally Village¦Bonthapally Village', 'Madhapur', 'Valsad District¦Valsad District', 'Visakhapatnam District', 'Ranga Reddy District¦Ranga Reddy District', 'Sangareddy District¦', 'Medak District', 'Moyraverty', 'Speke Road', 'Sector 3', 'Aldridge', 'Throsk', 'Ranga Reddy District', 'Roorkee District¦Roorkee District', 'South Normanton', 'Jubilee Hills¦Jubilee Hills', 'Draperstown', 'Ameerpet', 'Ballycoolin', 'Sutton Road', 'Medak District¦Medak District', 'Kirk Sandall Industrial Estate', 'Holytown', 'Dundrum', '250 Milkwood Road', 'Wick', 'Measham', 'Station Approach', 'South Normanton', 'Basheer Bagh¦', 'Patancheru Mandal', 'Pashamylaram', 'Vasanth Nagar', 'Tafarnaubach', 'Bridgend Industrial Estate', 'Jigani Link Road', 'Andheri (East)', 'Salfords', 'Santry', 'Loughlinstown Co.', 'Rong Muang¦', 'Park Lane', 'Strelna', 'County Oak Way', 'Planta 1', 'Blanchardstown', 'Park Hall', 'Favoriten¦Favoriten', '103 South Church Street', 'Sector 1', 'Womenswold', 'Nazeing Road', 'Heatley Road', 'District Solan', 'Lostock Gralam', 'Chintal', 'Bachupally', 'Stareton', 'Opp. K V Airochem', 'VSEZ', 'Sangareddy District', 'Marsh Green', 'Gummadidala¦', 'Sozhanganallur', 'Yodogawa-ku¦', 'South Normanton', 'Shameerpet Mandal', 'Chicksugur Cross¦', 'Dalmeyer Road', 'Bredbury', 'Nehru Road', 'Kyonggi-Do', 'Speke', 'Andheri East¦Andheri East', 'The Ridges', 'Thaltej Road¦Thaltej Road', 'Vapi', 'Paravada Mandal¦', 'Deeside Industrial Park', 'Thanam Village', 'Juhu Road', 'Jeedimetla¦', 'Medak district¦', 'Whitehill Way', 'Kondapur', 'Goregaon East', 'Taluka Sanand¦Taluka Sanand', 'Vadodara', 'Bollaram', 'Opp to Manjeera Grameena Bank', 'Banjara Hills¦Banjara Hills', 'Manglapuri', 'Mahad', 'Electra Way', 'Nazeing Road', 'Coolmine Industrial Estate', 'Parawada Mandal', 'Matoda Village', 'Coolmine Industrial Estate', 'Empire Industrial Park', 'Taluka Sanand', 'Rabin Science Park', 'Sanand Taluka¦¦', 'Brecon Road', 'Deeside Industrial Park', 'Hatnoora', 'Polepally Village', 'Stirling Road', 'Holmes Chapel', 'Kingsway Business Park', 'Airoli', 'Solan District', 'Vikhroli West', 'Banjara Hills', 'Hunslet', 'Low Prudhoe Industrial Estate', 'Trentham', 'Treforest Industrial Estate', 'Blagrove', 'Medak District', 'Talgarth', 'Parc Ty Glas', '¦St Germain Nuelles', 'Park West', 'Bachupally', 'Tharamani', 'Northwood', 'Opp. Thane-Belapur Road¦', 'Sarkhej¦', 'Phase - III', 'South Marston Industrial Estate', 'Huthwaite', 'Village Kerala', 'Low Prudhoe Industrial Estate', 'Heath Park', 'Llanishen', 'Industrial Area 4th Phase¦Industrial Area 4th Phase', '¦Bp 80001', '5th Floor', 'Shameerpet Mandal', 'Patancheru', 'Phase – II, Sector – III Pithampur', 'Medchal Malkajgiri', 'Peasmarsh', 'Vadodara', 'Old Chalford', 'Sangareddy District', 'Medak District', 'Erweiterungsbau Und Biocity', 'Rambilli Mandal', 'Nakkapally Mandal', 'Srikakulam District', '¦Peenya', 'Swords', 'Thanam Village¦', 'Harefield', 'Medak District¦¦', 'Portadown', 'Cork', 'Dodworth', 'Bloxwich', 'Colebrook Way', 'Weyhill', 'Palghar', 'Medway City Estate', 'Swords', 'Dunmurry', 'Salfords', 'Langley', 'Chilcompton', 'Stanford', 'Veridion Park', 'Veridion Park', 'Nazeing Road', 'Lovet Road', 'Hainault Business Park', 'Fens Pool Avenue', 'Perivale', 'Cuautlalpan', 'Henley Road', 'East Lane', 'Hitchin Road', 'Three Legged Cross', 'Shirley', 'Gentle Way', 'Mid Calder', 'Dorset', 'Crossways Business Park', 'Middleton', 'Itchingfield', 'Perivale', 'Aldridge', 'Holmes Chapel', 'Sector 19', '195 Wood Lane', 'Denton', '4 Shirwell Road', 'Roundswell Business Park', 'Tolpits Lane', 'Brereton', 'Salfords', 'Medak District', 'Citywest Road', 'Fort', 'Brunswick Village', 'Stoke Prior', 'Moreton', 'Coventry Road', 'Gillingham Business Park', 'Andheri East', 'Old Road', 'Stewartby', 'Great Glen', 'Macclesfield Road', 'Sunderland Enterprise Park', 'Washingley Road', 'Kimbolton', 'Lynch Lane', 'Stoke Prior', 'Aldermaston', '500 Midacre', 'Bisazza Street', 'Imperial Way', 'Bramshill', 'Main Street', 'Knock', 'Medak District', 'Wadsworth Road', 'Talgarth', '14-38 Nursery Street', 'Sandycroft', 'Vesty Road', 'Ambernath East', 'Raheen Business Park', 'Harold Hill', 'Martinfield', 'Hatfield Road', 'Dwight Road', 'Wealdstone', 'Andheri East¦', 'Roha¦', 'Westwells Road', '500 Midacre', 'Rackheath', 'Fountayne Road', 'Tullamore', 'Cherry Orchard Industrial Estate', 'Bowerhill', 'Lakesview International Business Park, Hersden', 'Hersden', 'Crossways Business Park', 'Pattingham', 'Imperial Way', 'Elstree', 'Hawthorn', 'Dwight Road', 'Felix Road', '31 Hurst Street', 'Kennington', 'Maltby', 'Centrum One Hundred', 'Mainstream Way', 'Riverside Way', 'Northwood', 'Chittening', 'Beeston', 'Rathdrinagh', 'Staplehurst', 'Elstree', '5 Little France Drive', 'Whitefield', 'Mirpur', 'Airport Road West', 'Nauener Vorstadt¦', 'Tariff Road', 'Shirley', 'Citywest Business Campus', 'Aldridge', 'Henwood', 'Irving Way', 'El-haram', 'South Marston Industrial Estate', 'Gidc Estate', 'Lynnwood Terrace', 'Skelton-In-Cleveland', 'Luohu', 'Ockley', 'Nelson Park West', 'Yealand Conyers', 'Centennial Avenue', 'Clydesmill Industrial Estate', 'Loudwater', 'Centennial Park', 'Cardinal Way', 'The Minories', 'Manvers', 'Abbey Road', 'Infotech Park¦Infotech Park', 'Runwell', 'Mambapur Village', 'Vellore District', 'Aldridge', 'Rangareddy District¦', 'Aldridge', 'Blacknest', 'Clock Face', 'Bannerghatta Road¦', '¦Industrial Area 4th Phase', 'Wickham Market', 'Blanchardstown', 'Weston Hall Road', 'Wedgwood Way', 'Norton Canes', 'Nursling', 'London Stansted Airport', 'Felinfach', 'Jiangxi Province', 'Wilstead', 'Silsden', 'Coleshill', 'Forgeside Close', 'Great Abington', 'Little Stanney', 'Alston Road', 'Erragadda¦', 'Holyrood Close', 'Lancing Business Park', 'Long Lane', 'West End Road', 'Snibston Drive', 'Ellesmere Crescent', '¦Kröpeliner Tor Vorstadt', '3 Edge Lane', 'Thurmaston', 'Thuan An', 'Stoke Poges', 'Pinhal Dos Santos Fernandes', 'Wancourt¦Wancourt', 'Claycliffe Road', 'Sawston', 'Sandyford Industrial Estate', 'Attleborough Fields Ind Estate', 'Glasgow Royal Infirmary', 'Dwight Road', 'Attleborough Fields Ind Estate', 'Crossways Business Park', 'Yunpu Industrial Zone¦', 'Santacruz East', 'Keynsham', 'Magna Business Park', 'Birtley', 'Qutubullapur¦Qutubullapur', 'Low Prudhoe Industrial Estate', 'Dunmow Road', 'Dhatav Raigad', 'Featherstone', 'Low Prudhoe Industrial Estate', 'Longridge Road', 'Cross Hands', 'Pennygillam Industrial Estate', 'Stadtgebiet¦', 'Handschuhsheim¦', 'Kachigam¦', 'Quarry Hill Industrial Estate', 'Jeedimetla', 'Langstone', 'Dwight Road', 'Zongshan', 'Panvel', 'Stretton', 'Colnbrook', 'Johannstadt-Nord¦Johannstadt-Nord', 'Paunsdorf¦', '344-348 High Road', 'Shah Alloys¦Shah Alloys', 'Kirkham', 'Police Line¦Police Line', '¦Industrial Area 4th Phase', 'San Gwann Industrial Estate', 'Konig-Otto-Bad¦', 'Flex Meadow', 'Stretford', 'Pengam', '153 10', 'Sandford Close', 'Hyderabad', 'Citywest Road', 'Crossways Business Park', 'Pixmore Avenue', 'Langley', 'Ballymount', 'Old Brickyard Road', 'Colonial Way', 'Chestfield', 'London Colney', 'Irlam', 'Dunkirk', 'Crossways Business Park', 'Thurston', 'Greenogue Business Park', 'Stockbridge Village', 'Brereton', 'Linhai Zone', 'Stoke Prior', 'Yadadri Bhongir District', 'Veliminedu Village', 'Lakesmere Road', 'Magna Business Park', 'Elton', 'Dedworth Road', 'Ford', 'Pentyrch', 'Abbey Road', 'Gloucester Road', 'Ingleton', 'Turbhe', 'Jadcherla', 'Shamblehurst Lane South', 'North Duffield', 'Swanmore', 'Bassendale Road', 'Broadheath', 'Wolverhampton Science Park', 'Business Park', 'Wellesbourne', 'Mitchelston Industrial Estate', 'Courbevoie¦¦Courbevoie', 'Kandivali West', 'Low Prudhoe Industrial Estate', 'Lancing Business Park', 'Moira Road', 'Hunslet', 'Manvers', 'Obulapuram', 'Sevington', 'Waterside Court', 'Sandyford Industrial Estate', 'Curdworth', 'Trafford Park', 'Thurston Road', 'Queluz De Baixo¦Queluz De Baixo', 'Moss Industrial Estate', 'Finglas', 'Tattenhall', 'Chadderton', 'Radcliffe', 'Greengates', 'Stoke Prior', 'Strathclyde Business Park', 'Draperstown', 'Bumpers Farm', 'Magna Business Park', 'Clondalkin', 'Clayton-Le-Woods', 'Elton', 'Whittle Way', 'Sarsfield Road', 'Clayton', 'Atherton', 'Clayton', 'Park Farm Industrial Estate', 'Salfords', 'Stechford', 'Brynmenyn', 'Lower Caldecote', 'Manor Park', 'Blanchardstown', 'Melmerby', 'Gohlis-Sud¦¦', 'Aldridge', 'Sandridge', 'Colnbrook', 'Fradley', 'Harlington', 'Brackmills Industrial Estate', 'Waterbeach', 'Dunkirk', 'Annesley', 'Old Church Road', 'Wessex Way', 'Fulmar Way', 'Wooten Road', '250 Euston Road', 'Centurion Way', 'Wellesbourne', 'Derriford', 'William Nadin Way', 'Baillieston', 'Templepatrick', 'Leeway Industrial Estate', 'Twenty Twenty Industrial Estate', 'Castle Vale', 'Larkfield', 'Dwight Road', 'Thurston', 'Johannstadt-Nord¦Johannstadt-Nord', 'Loudwater', 'Sutton Road', 'Bold', 'Queens Meadow Business Park', 'Swansea Vale', 'Llay', 'Altens Industrial Estate', 'Striesen-Sued¦Striesen-Süd', 'Aintree Racecourse Retail & Bus Pk', 'Manchester Airport', 'Nixs Hill Industrial Estate', 'Oliver Road', 'Woolpit', 'Victoria Road', 'Cowley', 'Crossways Business Park', 'Sawston']

{'ColumnName': 'Address Line 4',
 'Count': 36739,
 'NonEmptyValuesCount': 721,
 'UniqueId': 530514,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'AddressLine4'}

In [51]:
#  33  Address City 36565 non-null  object

onlyValues = len(dff['Address City'].dropna())
dff1 = dff['Address City'].replace(np.nan, '', regex=True) 
cityValues = []
#Splitting cell values
#First value is English character word so we are just including English name.
#Ignoring Non-English character words for this project.
for i in range(len(dff1)):
  cellvalue =  str(dff1.values[i])
  arr = cellvalue.split('¦')
  cityValues.append(arr[0])
# print(cityValues)
cities = np.array(cityValues).astype(object)
row32 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[33], 'type':'City', 'Count':len(cityValues), 'Values':cities, 'NonEmptyValuesCount':onlyValues }
row32

{'ColumnName': 'Address City',
 'Count': 36739,
 'NonEmptyValuesCount': 36565,
 'UniqueId': 500449,
 'Values': array(['Vienna', 'Graz', 'Moedling', ..., '', 'Rheinfelden (baden)',
        'Marburg'], dtype=object),
 'type': 'City'}

In [52]:
#  34  Address State 22962 non-null  object
onlyValues = len(dff['Address State'].dropna())
dff1 = dff['Address State'].replace(np.nan, '', regex=True) 
stateValues = []
#Splitting cell values
for i in range(len(dff1)):
  cellvalue =  str(dff1.values[i])
  arr = cellvalue.split('¦')
  #First value is English character word so we are just including English names
  #Ignoring Non-English names for this project.
  stateValues.append(arr[0])
states = np.array(stateValues).astype(object)
row33 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[34], 'type':'State', 'Count':len(stateValues), 'Values':states, 'NonEmptyValuesCount':onlyValues }
row33

{'ColumnName': 'Address State',
 'Count': 36739,
 'NonEmptyValuesCount': 22962,
 'UniqueId': 532389,
 'Values': array(['', '', 'Niederoesterreich', ..., '', 'Baden-Wuerttemberg',
        'Hassia'], dtype=object),
 'type': 'State'}

In [53]:
#  35  Address Region 20778 non-null  object
onlyValues = len(dff['Address Region'].dropna())
dff1 = dff['Address Region'].replace(np.nan, '', regex=True) 
RegionValues = []
#Splitting cell values
for i in range(len(dff1)):
  cellvalue =  str(dff1.values[i])
  arr = cellvalue.split('¦')
  #First value is English character word so we are just including English names
  #Ignoring Non-English names for this project.
  RegionValues.append(arr[0])
regions = np.array(RegionValues).astype(object)
row34 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[35], 'type':'Region', 'Count':len(RegionValues), 'Values':regions, 'NonEmptyValuesCount':onlyValues }
row34

{'ColumnName': 'Address Region',
 'Count': 36739,
 'NonEmptyValuesCount': 20778,
 'UniqueId': 494153,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'Region'}

In [54]:
#  36  Address County 27196 non-null  object
onlyValues = len(dff['Address County'].dropna())
dff1 = dff['Address County'].replace(np.nan, '', regex=True) 
CountyValues = []
#Splitting cell values
for i in range(len(dff1)):
  cellvalue =  str(dff1.values[i])
  arr = cellvalue.split('¦')
  #First value is English word so we are just including English names
  #Ignoring Non-English names for this project.
  CountyValues.append(arr[0])
County = np.array(CountyValues).astype(object)
row35 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[36], 'type':'County', 'Count':len(CountyValues), 'Values':County, 'NonEmptyValuesCount':onlyValues }
row35

{'ColumnName': 'Address County',
 'Count': 36739,
 'NonEmptyValuesCount': 27196,
 'UniqueId': 513190,
 'Values': array(['', '', '', ..., 'Co. Kildare', '', ''], dtype=object),
 'type': 'County'}

In [ ]:
print(CountyValues)

In [55]:
#  37  Communication Details Email Address  625 non-null    object

onlyValues = len(dff['Communication Details Email Address'].dropna())
dff1 = dff['Communication Details Email Address'].replace(np.nan, '', regex=True) 
row36 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[37], 'type':'Email', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row36

{'ColumnName': 'Communication Details Email Address',
 'Count': 36739,
 'NonEmptyValuesCount': 625,
 'UniqueId': 526936,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'Email'}

In [56]:
#  38  Communication Details Phone Number Country Prefix  543 non-null    object
onlyValues = len(dff['Communication Details Phone Number Country Prefix'].dropna())
dff1 = dff['Communication Details Phone Number Country Prefix'].replace(np.nan, '', regex=True) 
row37 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[38], 'type':'PhoneNumberCountryPrefix', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row37

{'ColumnName': 'Communication Details Phone Number Country Prefix',
 'Count': 36739,
 'NonEmptyValuesCount': 543,
 'UniqueId': 503639,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'PhoneNumberCountryPrefix'}

In [57]:
#  39  Communication Details Phone Number 543 non-null    object
onlyValues = len(dff['Communication Details Phone Number'].dropna())
dff1 = dff['Communication Details Phone Number'].replace(np.nan, '', regex=True) 
row38 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[39], 'type':'PhoneNumber', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row38

{'ColumnName': 'Communication Details Phone Number',
 'Count': 36739,
 'NonEmptyValuesCount': 543,
 'UniqueId': 504329,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'PhoneNumber'}

In [58]:
#  40  Communication Details Phone Number Extension       116 non-null    object
onlyValues = len(dff['Communication Details Phone Number Extension'].dropna())
dff1 = dff['Communication Details Phone Number Extension'].replace(np.nan, '', regex=True) 
row39 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[40], 'type':'PhoneNumberExtension', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row39

{'ColumnName': 'Communication Details Phone Number Extension',
 'Count': 36739,
 'NonEmptyValuesCount': 116,
 'UniqueId': 539779,
 'Values': array(['', '', '', ..., '', '', ''], dtype=object),
 'type': 'PhoneNumberExtension'}

In [59]:
#  41 Version Timestamp

onlyValues = len(dff['Version Timestamp.1'].dropna())
dff1 = dff['Version Timestamp.1'].replace(np.nan, '', regex=True) 
row40 = {'UniqueId':np.random.randint(491859, 550000),'ColumnName':dff.columns[41], 'type':'versionTimestamp', 'Count':len(dff1.values), 'Values':dff1.values, 'NonEmptyValuesCount':onlyValues }
row40

{'ColumnName': 'Version Timestamp.1',
 'Count': 36739,
 'NonEmptyValuesCount': 36737,
 'UniqueId': 520018,
 'Values': array(['2019-08-28T17:37:51.37+02:00', '2020-01-15T11:18:11.096+01:00',
        '2020-01-15T11:19:10.592+01:00', ...,
        '2020-07-15T16:52:08.748+02:00', '2020-07-15T16:56:12.547+02:00',
        '2020-07-15T16:58:48.039+02:00'], dtype=object),
 'type': 'versionTimestamp'}

In [60]:
#Append all the rows
data=[]

# %timeit [print(eval('row'+str(i))) for i in range(2)]
[data.append(globals()["row"+str(i)]) for i in range(41)]
print(len(data))
print(data[40])

41
{'UniqueId': 520018, 'ColumnName': 'Version Timestamp.1', 'type': 'versionTimestamp', 'Count': 36739, 'Values': array(['2019-08-28T17:37:51.37+02:00', '2020-01-15T11:18:11.096+01:00',
       '2020-01-15T11:19:10.592+01:00', ...,
       '2020-07-15T16:52:08.748+02:00', '2020-07-15T16:56:12.547+02:00',
       '2020-07-15T16:58:48.039+02:00'], dtype=object), 'NonEmptyValuesCount': 36737}

In [61]:
newdf = pd.DataFrame(data, columns = ['UniqueId', 'ColumnName','type', 'Count', 'Values', 'NonEmptyValuesCount']) 
  
# print dataframe. 
newdf

    UniqueId  ... NonEmptyValuesCount
0     512489  ...               36739
1     502591  ...               36739
2     544461  ...                2419
3     524068  ...                2419
4     512820  ...                2339
5     514643  ...                1940
6     542338  ...               36739
7     523956  ...               36739
8     491930  ...               36739
9     528801  ...               36739
10    545280  ...               36739
11    537608  ...                1123
12    496305  ...                3260
13    534815  ...                3076
14    531444  ...               36738
15    531629  ...               36738
16    514955  ...               36739
17    520167  ...               36739
18    514641  ...               27847
19    527296  ...               27847
20    538473  ...               27846
21    544451  ...               36739
22    503546  ...                 264
23    541879  ...               35953
24    495333  ...               36738
25    493659  ...               36739
26    527567  ...               27625
27    493424  ...               36739
28    529738  ...               36738
29    527954  ...               28485
30    511780  ...                3537
31    530514  ...                 721
32    500449  ...               36565
33    532389  ...               22962
34    494153  ...               20778
35    513190  ...               27196
36    526936  ...                 625
37    503639  ...                 543
38    504329  ...                 543
39    539779  ...                 116
40    520018  ...               36737

[41 rows x 6 columns]

In [100]:
# newdf.to_csv('CleanedLocationData_1.csv',index=False)
# df.to_csv(index=False)
# 'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

In [62]:
newdf.to_parquet('CleanedLocationData_1.gzip',compression='gzip')

In [63]:
newdf.to_parquet('drive/My Drive/CleanedLocationData_1.gzip',compression='gzip')

In [64]:
read = pd.read_parquet('CleanedLocationData_1.gzip')

In [65]:
import pandas as pd
read = pd.read_parquet('drive/My Drive/CleanedLocationData_1.gzip')

In [66]:
read

    UniqueId  ... NonEmptyValuesCount
0     512489  ...               36739
1     502591  ...               36739
2     544461  ...                2419
3     524068  ...                2419
4     512820  ...                2339
5     514643  ...                1940
6     542338  ...               36739
7     523956  ...               36739
8     491930  ...               36739
9     528801  ...               36739
10    545280  ...               36739
11    537608  ...                1123
12    496305  ...                3260
13    534815  ...                3076
14    531444  ...               36738
15    531629  ...               36738
16    514955  ...               36739
17    520167  ...               36739
18    514641  ...               27847
19    527296  ...               27847
20    538473  ...               27846
21    544451  ...               36739
22    503546  ...                 264
23    541879  ...               35953
24    495333  ...               36738
25    493659  ...               36739
26    527567  ...               27625
27    493424  ...               36739
28    529738  ...               36738
29    527954  ...               28485
30    511780  ...                3537
31    530514  ...                 721
32    500449  ...               36565
33    532389  ...               22962
34    494153  ...               20778
35    513190  ...               27196
36    526936  ...                 625
37    503639  ...                 543
38    504329  ...                 543
39    539779  ...                 116
40    520018  ...               36737

[41 rows x 6 columns]

In the above 40 columns, some columns are not going to be included in the training as it contains less dataset and more non-english characters
The below columns will be removed.
1. PostBox - only 264
2. AddressLine1 - Non-English characters
3. AddressLine2 - Non-English characters
4. AddressLine3 - Non-English characters
5. AddressLine4 - Non-English characters
6. Email - 625 values
7. PhoneNumberCountryPrefix - 543 values
8. PhoneNumber - 543 values
9. PhoneNumberExtension - 116 values
10. Alternative Name - 3260
11. Mapping valid from - 1940 values
12. Acronym - 1123 values